<!DOCTYPE html>
<html>
    <head>
        <title>PORTFOLIO</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Questrial" rel="stylesheet">   
        <link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="port.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="port.js"></script> 
    </head>
    <body>
        <div class="pages">
            <section class="front">
                <h1 class="name">Umesh Dhauni</h1>
                <div class="links">
                    <a href="https://www.facebook.com/umesh.dhauni.98"><i class="fa fa-facebook"></i></a>
                    <a href="https://plus.google.com/102430155663236393313"><i class="fa fa-google-plus"></i></a>
                    <a href="https://twitter.com/umeshdhauni"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/umeshdhauni/"><i class="fa fa-linkedin"></i></a>
                </div>
            </section>
            <section class="skills">
               <div class="row">
                    <div class="col-md-offset-1 col-md-6 s-skill">
                       <h1>SKILLS</h1>
                       <p><b>DESIGN,DEVELOPE & EXECUTE</b></p>
                    </div>
                    <div class="col-md-2 col-sm-5 s-col s-html">
                       <h2>HTML</h2>
                    </div>
                    <div class="col-md-2 col-sm-5 s-col s-css">
                       <h2>CSS</h2>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-offset-1 col-md-2 col-sm-5 s-col s-angular">
                       <h2>ANGULAR JS</h2>
                    </div>
                    <div class="col-md-2 col-sm-5 s-col s-js">
                       <h2>JAVA SCRIPT</h2>
                    </div>
                    <div class="col-md-2 col-sm-5 s-col s-jquery">
                       <h2>JQUERY</h2>
                    </div>
                    <div class="col-md-2 col-sm-5 s-col s-wordpress">
                       <h2>WORDPRESS</h2>
                    </div>
                    <div class="col-md-2 col-sm-5 s-col s-bootstrap">
                       <h2>BOOTSTRAP</h2>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-2 col-sm-5 s-col s-java">
                       <h2>JAVA</h2>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2 col-sm-5 s-col s-php">
                       <h2>PHP</h2>
                    </div>
               </div>
            </section>
            <section class="projects">
                <div class="row content-wrap">
                    <div class="col-md-4 col-sm-6 musicco hoveron">
                        <div class="black-shadow">    
                        </div>
                        <div class="content">
                            <h2>MUSICCO</h2>
                        </div>
                        <div class="hoveron-project">
                            <h4>MUSIC APP USING ANGULAR JS</h4>
                            <div class="see-btn">
                            <button class=" btn btn-danger"><a href="https://github.com/umeshdhauni/Musico">SEE HERE</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 sense hoveron">
                        <div class="black-shadow">    
                        </div>
                        <div class="content">
                            <h2>SENSE</h2>
                        </div>
                        <div class="hoveron-project">
                            <h4> SENSE IS A WORDPRESS THEME</h4>
                            <div class="see-btn">
                            <button class=" btn btn-success"><a href="https://github.com/umeshdhauni/sense">SEE HERE</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-6 nature hoveron">
                        <div class="black-shadow">    
                        </div>
                        <div class="content">
                            <h2>NATURE</h2>
                        </div>
                        <div class="hoveron-project">
                            <h4>SIMPLE HTML AND CSS</h4>
                            <div class="see-btn">
                            <button class=" btn btn-primary"><a href="https://github.com/umeshdhauni/Nature">SEE HERE</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 contacto hoveron">
                        <div class="black-shadow">    
                        </div>
                        <div class="content">
                            <h2>CONTACTO</h2>
                        </div>
                        <div class="hoveron-project">
                            <h4>CONTACT DETAILS APP USING ANGULAR JS</h4>
                            <div class="see-btn">
                            <button class=" btn btn-danger"><a href="https://github.com/umeshdhauni/Contact">SEE HERE</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 todo hoveron">
                        <div class="black-shadow">    
                        </div>
                        <div class="content">
                            <h2>LETS DO</h2>
                        </div>
                        <div class="hoveron-project">
                            <h4>A TODO APP USING ANGULAR JS</h4>
                            <div class="see-btn">
                            <button class=" btn btn-success"><a href="https://github.com/umeshdhauni/Todo">SEE HERE</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 porto hoveron">
                        <div class="black-shadow">    
                        </div>
                        <div class="content">
                            <h2>PORTO</h2>
                        </div>
                        <div class="hoveron-project">
                            <h4> SINGLE PAGE PORTFOLIO WEBSITE</h4>
                            <div class="see-btn">
                            <button class=" btn btn-primary"><a href="">SEE HERE</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blogs">
                <div class="container">
                    <div class="row">
                    <div class="col-md-4 ">
                        <div  class="blog-box box-first">
                            <div class="box-border">
                                <h3>CUSTOM DIRECTIVE IN ANGULAR JS</h3>
                                <br>
                                <p>Custom directive are similar like predefined directive but the difference is that the custom directive is created by programmer, they are not previously defined in Angular...</p>
                                <br>
                                <button class="btn-danger btn-sm "><a href="https://umeshdhauni.wordpress.com/2017/03/19/how-to-create-a-custom-directive-in-angular-js/" style="color:white;">SEE HERE</a></button>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="blog-box box-second">
                            <div class="box-border">
                                <h3>COMING SOON...</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="blog-box box-third">
                            <div class="box-border">
                                <h3>COMING SOON...</h3>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
            <section class="contact">
                    <div class="container contact-main">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 contact-details" >
                                <img src="image/umesh.png" class="img-responsive contact-img">
                                <center><h3>UMESH DHAUNI</h3>
                                <h4>WEB DEVELOPER</h4></center>
                                <br>
                                <div class="inner-detail">
                                <p>Studied at B. T. K. I. T. Dwarahat</p>
                                <p>(Computer Science &amp; Engineering)</p>
                                </div>
                                <i class="fa fa-mobile col-xs-2" style="font-size:20px;"></i><p>9319434229</p>
                                <i class="fa fa-map-marker col-xs-2" style="font-size:20px;"></i><p>Haldwani,Uttarakhand</p>
                            </div>
                            <div class="col-md-8 col-sm-6 contact-form">
                                <form action="temp.php">
                                    <input type="text" class="input-lg c-name" placeholder="FULL NAME" ng-model="nameof">
                                    <input type="text" class="input-lg c-email"  placeholder="E-MAIL" ng-model="emailof">
                                    <br>
                                    <textarea placeholder="TEXT HERE..." class="input-lg c-message"  ng-model="message"></textarea>
                                    <br>
                                    <i class="fa fa-paper-plane" ng-click="sendMail()"></i>
                                </form>
                            </div>
                            <div class="col-md-1 col-sm-1 other-contact">
                                <ul>
                                    <li><a href="https://www.facebook.com/umesh.dhauni.98"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://plus.google.com/102430155663236393313"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="https://twitter.com/umeshdhauni"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/umeshdhauni/"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
        <div class="menu-bar">
            <nav class="navbar navbar-inverse">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="    #myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav menu-ul" >
                        <li><a href="#" class="front-btn active-class" onclick="home()">Home</a></li>
                        <li><a href="#" class="skills-btn"  onclick="skills()">Skills</a></li> 
                        <li><a href="#" class="projects-btn"  onclick="projects()">Projects</a></li>
                        <li><a href="#" class="blogs-btn"  onclick="blogs()">Blogs</a></li>  
                        <li><a href="#" class="contact-btn"  onclick="contact()">Contact</a></li> 
                    </ul>
                </div>
            </nav>
        </div>
        <div class="small-menu">
            <i class="fa fa-circle" onclick="home()" id="home" data-toggle="tooltip" title="Home" data-placement="left"></i>
            <i class="fa fa-circle-thin" onclick="skills()" id="skills" data-toggle="tooltip" title="Skills" data-placement="left"></i>
            <i class="fa fa-circle-thin" onclick="projects()" id="projects" data-toggle="tooltip" title="Projects" data-placement="left"></i>
            <i class="fa fa-circle-thin" onclick="blogs()" id="blogs" data-toggle="tooltip" title="Blogs" data-placement="left"></i>
            <i class="fa fa-circle-thin" onclick="contact()" id="contact" data-toggle="tooltip" title="Contact" data-placement="left"></i>
        </div>
   </body>
</html>
